#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=1Password
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --ignore-profile-directory-if-not-exists "https://my.1password.com/app#/everything/AllItems"
Icon=/home/josh/.config/BraveSoftware/Brave-Browser/Default/Web Shortcut Icons/shortcut-ed96fcc3775dc4fa30d0cef10527e6fe.png
URL=https://my.1password.com/app#/everything/AllItems
Comment=Open https://my.1password.com/app#/everything/AllItems in a new tab in Brave.
